.scene { position:relative; width:100%; overflow:hidden; }
.artwork { display:block; width:100%; height:auto; margin:auto; }
@media(max-width:680px) {
  .artwork { width:190%; max-width:none; margin-left:-45%; height:220px; }
}
